#wb_header { background: transparent none repeat scroll left top; height: 100px; }
#wb_header { height: 100px; }
#wb_main { background: transparent none repeat-x scroll left top; height: 1180px; padding: 0 0 50px 0; }
#wb_main { height: 1230px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 60px; }
#wb_footer { height: 60px; }
body { background: #ffffff url("../gallery_gen/c6acef63dbc3948d0cf405e524a4edb7.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/464b4efe631f8c70a025ef4923f89ebc.jpg") repeat-x scroll center top; }
body, .wb_sbg { min-width: 992px; min-height: 1580px; }
.root { width: 992px; height: 1580px; overflow: visible; }
#wb_element_instance33 { left: 210px; top: 50px; min-width: 550px; width: 550px; min-height: 40px; height: 40px; display: block; z-index: 440; }
#wb_element_instance33 ul { background: transparent none repeat scroll right top; border: 1px none #000000; }
#wb_element_instance33, #wb_element_instance33 ul { text-align: center; }
#wb_element_instance33 ul ul { background: #000000 none repeat scroll right top; }
#wb_element_instance33 li { margin: 0px 0px 0px 0px; }
#wb_element_instance33 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 30px 10px 30px; font: normal normal 16px Tahoma,Geneva,sans-serif; text-decoration: none; color: #424242; line-height: 18px; background: transparent none no-repeat scroll center top; }
#wb_element_instance33 li:hover > a, #wb_element_instance33 li:focus > a { border: 0px none #000000; font: normal normal 16px Tahoma,Geneva,sans-serif; text-decoration: underline; color: #77d3c4; line-height: 18px; background: transparent none no-repeat scroll center top; }
#wb_element_instance33 li.active > a { border: 0px none #000000; font: normal normal 16px Tahoma,Geneva,sans-serif; text-decoration: none; color: #77d3c4; line-height: 18px; background: transparent none no-repeat scroll center center; }
#wb_element_instance34 { left: 10px; top: 5px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; z-index: 372; overflow: hidden; }
#wb_element_instance34 img { width: 50px; height: 50px; position: relative; left: 0px; top: -10px; max-width: inherit; }
#wb_element_instance35 { left: 70px; top: 10px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; z-index: 439; }
#wb_element_instance36 { left: 830px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: none; z-index: 373; }
#wb_element_instance36 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
#wb_element_instance37 { left: 880px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: none; z-index: 375; }
#wb_element_instance37 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
#wb_element_instance38 { left: 930px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: none; z-index: 376; }
#wb_element_instance38 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
#wb_element_instance39 { left: 900px; top: 20px; min-width: 90px; width: 90px; min-height: 24px; height: 24px; display: block; z-index: 509; }
#wb_element_instance40 { left: 10px; top: 20px; min-width: 234px; width: 234px; min-height: 24px; height: 24px; display: block; z-index: 449; }
#wb_element_instance41 { left: 0px; top: 530px; min-width: 990px; width: 990px; min-height: 285px; height: 285px; display: none; z-index: 146; }
#wb_element_instance42 { left: 0px; top: 190px; min-width: 990px; width: 990px; min-height: 60px; height: 60px; display: block; z-index: 147; }
#wb_element_instance43 { left: 430px; top: 250px; min-width: 120px; width: 120px; min-height: 30px; height: 30px; display: block; z-index: 148; }
#wb_element_instance44 { left: 80px; top: 916px; min-width: 220px; width: 220px; min-height: 210px; height: 210px; display: block; z-index: 149; }
#wb_element_instance44 img { width: 220px; height: 210px; position: static; left: 0px; top: 0px; }
#wb_element_instance45 { left: 390px; top: 916px; min-width: 220px; width: 220px; min-height: 210px; height: 210px; display: block; z-index: 151; }
#wb_element_instance45 img { width: 220px; height: 210px; position: static; left: 0px; top: 0px; }
#wb_element_instance46 { left: 690px; top: 916px; min-width: 220px; width: 220px; min-height: 210px; height: 210px; display: block; z-index: 152; }
#wb_element_instance46 img { width: 220px; height: 210px; position: static; left: 0px; top: 0px; }
#wb_element_instance47 { left: 390px; top: 1140px; min-width: 220px; width: 220px; min-height: 24px; height: 24px; display: block; z-index: 153; }
#wb_element_instance48 { left: 470px; top: 1150px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; z-index: 150; }
#wb_element_instance49 { left: 0px; top: 850px; min-width: 990px; width: 990px; min-height: 51px; height: 51px; display: block; z-index: 154; }
#wb_element_instance50 { left: 20px; top: 820px; min-width: 950px; width: 950px; min-height: 20px; height: 20px; display: none; z-index: 155; }
#wb_element_instance51 { left: 80px; top: 1140px; min-width: 220px; width: 220px; min-height: 24px; height: 24px; display: block; z-index: 156; }
#wb_element_instance52 { left: 160px; top: 1150px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; z-index: 157; }
#wb_element_instance53 { left: 770px; top: 1150px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; z-index: 158; }
#wb_element_instance54 { left: 690px; top: 1140px; min-width: 220px; width: 220px; min-height: 24px; height: 24px; display: block; z-index: 163; }
#wb_element_instance55 { left: 0px; top: 1200px; display: block; z-index: 9000; }
#wb_element_instance56 { left: 0px; top: 64px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 100px; }
	#wb_main { height: 1230px; }
	#wb_footer { height: 60px; }
	body, .wb_sbg { min-width: 992px; min-height: 1390px; }
	.root { width: 992px; height: 1390px; overflow: visible; }
	#wb_element_instance33 { left: 210px; top: 50px; min-width: 550px; width: 550px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance34 { left: 10px; top: 5px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; overflow: hidden; }
	#wb_element_instance34 img { width: 50px; height: 50px; position: relative; left: 0px; top: -10px; max-width: inherit; }
	#wb_element_instance35 { left: 70px; top: 10px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance36 { left: 830px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance36 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance37 { left: 880px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance37 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance38 { left: 930px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance38 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance39 { left: 900px; top: 20px; min-width: 90px; width: 90px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance40 { left: 10px; top: 20px; min-width: 234px; width: 234px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance41 { left: 0px; top: 530px; min-width: 990px; width: 990px; min-height: 285px; height: 285px; display: block; }
	#wb_element_instance42 { left: 0px; top: 190px; min-width: 990px; width: 990px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance43 { left: 430px; top: 250px; min-width: 120px; width: 120px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance44 { left: 80px; top: 916px; min-width: 220px; width: 220px; min-height: 210px; height: 210px; display: block; }
	#wb_element_instance44 img { width: 220px; height: 210px; position: static; left: 0px; top: 0px; }
	#wb_element_instance45 { left: 390px; top: 916px; min-width: 220px; width: 220px; min-height: 210px; height: 210px; display: block; }
	#wb_element_instance45 img { width: 220px; height: 210px; position: static; left: 0px; top: 0px; }
	#wb_element_instance46 { left: 690px; top: 916px; min-width: 220px; width: 220px; min-height: 210px; height: 210px; display: block; }
	#wb_element_instance46 img { width: 220px; height: 210px; position: static; left: 0px; top: 0px; }
	#wb_element_instance47 { left: 390px; top: 1140px; min-width: 220px; width: 220px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance48 { left: 470px; top: 1150px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance49 { left: 0px; top: 850px; min-width: 990px; width: 990px; min-height: 51px; height: 51px; display: block; }
	#wb_element_instance50 { left: 20px; top: 820px; min-width: 950px; width: 950px; min-height: 20px; height: 20px; display: block; }
	#wb_element_instance51 { left: 80px; top: 1140px; min-width: 220px; width: 220px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance52 { left: 160px; top: 1150px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance53 { left: 770px; top: 1150px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance54 { left: 690px; top: 1140px; min-width: 220px; width: 220px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 100px; }
	#wb_main { height: 1230px; }
	#wb_footer { height: 60px; }
	body, .wb_sbg { min-width: 992px; min-height: 1390px; }
	.root { width: 992px; height: 1390px; overflow: visible; }
	#wb_element_instance33 { left: 210px; top: 50px; min-width: 550px; width: 550px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance34 { left: 10px; top: 5px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; overflow: hidden; }
	#wb_element_instance34 img { width: 50px; height: 50px; position: relative; left: 0px; top: -10px; max-width: inherit; }
	#wb_element_instance35 { left: 70px; top: 10px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance36 { left: 830px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance36 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance37 { left: 880px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance37 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance38 { left: 930px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance38 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance39 { left: 900px; top: 20px; min-width: 90px; width: 90px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance40 { left: 10px; top: 20px; min-width: 234px; width: 234px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance41 { left: 0px; top: 530px; min-width: 990px; width: 990px; min-height: 285px; height: 285px; display: block; }
	#wb_element_instance42 { left: 0px; top: 190px; min-width: 990px; width: 990px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance43 { left: 430px; top: 250px; min-width: 120px; width: 120px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance44 { left: 80px; top: 916px; min-width: 220px; width: 220px; min-height: 210px; height: 210px; display: block; }
	#wb_element_instance44 img { width: 220px; height: 210px; position: static; left: 0px; top: 0px; }
	#wb_element_instance45 { left: 390px; top: 916px; min-width: 220px; width: 220px; min-height: 210px; height: 210px; display: block; }
	#wb_element_instance45 img { width: 220px; height: 210px; position: static; left: 0px; top: 0px; }
	#wb_element_instance46 { left: 690px; top: 916px; min-width: 220px; width: 220px; min-height: 210px; height: 210px; display: block; }
	#wb_element_instance46 img { width: 220px; height: 210px; position: static; left: 0px; top: 0px; }
	#wb_element_instance47 { left: 390px; top: 1140px; min-width: 220px; width: 220px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance48 { left: 470px; top: 1150px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance49 { left: 0px; top: 850px; min-width: 990px; width: 990px; min-height: 51px; height: 51px; display: block; }
	#wb_element_instance50 { left: 20px; top: 820px; min-width: 950px; width: 950px; min-height: 20px; height: 20px; display: block; }
	#wb_element_instance51 { left: 80px; top: 1140px; min-width: 220px; width: 220px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance52 { left: 160px; top: 1150px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance53 { left: 770px; top: 1150px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance54 { left: 690px; top: 1140px; min-width: 220px; width: 220px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 100px; }
	#wb_main { height: 1230px; }
	#wb_footer { height: 60px; }
	body, .wb_sbg { min-width: 992px; min-height: 1390px; }
	.root { width: 992px; height: 1390px; overflow: visible; }
	#wb_element_instance33 { left: 210px; top: 50px; min-width: 550px; width: 550px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance34 { left: 10px; top: 5px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; overflow: hidden; }
	#wb_element_instance34 img { width: 50px; height: 50px; position: relative; left: 0px; top: -10px; max-width: inherit; }
	#wb_element_instance35 { left: 70px; top: 10px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance36 { left: 830px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance36 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance37 { left: 880px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance37 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance38 { left: 930px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance38 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance39 { left: 900px; top: 20px; min-width: 90px; width: 90px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance40 { left: 10px; top: 20px; min-width: 234px; width: 234px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance41 { left: 0px; top: 530px; min-width: 990px; width: 990px; min-height: 285px; height: 285px; display: block; }
	#wb_element_instance42 { left: 0px; top: 190px; min-width: 990px; width: 990px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance43 { left: 430px; top: 250px; min-width: 120px; width: 120px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance44 { left: 80px; top: 916px; min-width: 220px; width: 220px; min-height: 210px; height: 210px; display: block; }
	#wb_element_instance44 img { width: 220px; height: 210px; position: static; left: 0px; top: 0px; }
	#wb_element_instance45 { left: 390px; top: 916px; min-width: 220px; width: 220px; min-height: 210px; height: 210px; display: block; }
	#wb_element_instance45 img { width: 220px; height: 210px; position: static; left: 0px; top: 0px; }
	#wb_element_instance46 { left: 690px; top: 916px; min-width: 220px; width: 220px; min-height: 210px; height: 210px; display: block; }
	#wb_element_instance46 img { width: 220px; height: 210px; position: static; left: 0px; top: 0px; }
	#wb_element_instance47 { left: 390px; top: 1140px; min-width: 220px; width: 220px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance48 { left: 470px; top: 1150px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance49 { left: 0px; top: 850px; min-width: 990px; width: 990px; min-height: 51px; height: 51px; display: block; }
	#wb_element_instance50 { left: 20px; top: 820px; min-width: 950px; width: 950px; min-height: 20px; height: 20px; display: block; }
	#wb_element_instance51 { left: 80px; top: 1140px; min-width: 220px; width: 220px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance52 { left: 160px; top: 1150px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance53 { left: 770px; top: 1150px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance54 { left: 690px; top: 1140px; min-width: 220px; width: 220px; min-height: 24px; height: 24px; display: block; }
}
