#wb_header { background: transparent none repeat scroll left top; height: 100px; }
#wb_header { height: 100px; }
#wb_main { background: transparent none repeat scroll left top; height: 640px; padding: 0 0 50px 0; }
#wb_main { height: 690px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 60px; }
#wb_footer { height: 60px; }
body { background: #ffffff none repeat-x scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/464b4efe631f8c70a025ef4923f89ebc.jpg") repeat-x scroll center top; }
body, .wb_sbg { min-width: 992px; min-height: 1030px; }
.root { width: 992px; height: 1030px; overflow: visible; }
#wb_element_instance57 { left: 210px; top: 50px; min-width: 550px; width: 550px; min-height: 40px; height: 40px; display: block; z-index: 440; }
#wb_element_instance57 ul { background: transparent none repeat scroll right top; border: 1px none #000000; }
#wb_element_instance57, #wb_element_instance57 ul { text-align: center; }
#wb_element_instance57 ul ul { background: #000000 none repeat scroll right top; }
#wb_element_instance57 li { margin: 0px 0px 0px 0px; }
#wb_element_instance57 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 30px 10px 30px; font: normal normal 16px Tahoma,Geneva,sans-serif; text-decoration: none; color: #424242; line-height: 18px; background: transparent none no-repeat scroll center top; }
#wb_element_instance57 li:hover > a, #wb_element_instance57 li:focus > a { border: 0px none #000000; font: normal normal 16px Tahoma,Geneva,sans-serif; text-decoration: underline; color: #77d3c4; line-height: 18px; background: transparent none no-repeat scroll center top; }
#wb_element_instance57 li.active > a { border: 0px none #000000; font: normal normal 16px Tahoma,Geneva,sans-serif; text-decoration: none; color: #77d3c4; line-height: 18px; background: transparent none no-repeat scroll center center; }
#wb_element_instance58 { left: 10px; top: 5px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; z-index: 372; overflow: hidden; }
#wb_element_instance58 img { width: 50px; height: 50px; position: relative; left: 0px; top: -10px; max-width: inherit; }
#wb_element_instance59 { left: 70px; top: 10px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; z-index: 439; }
#wb_element_instance60 { left: 830px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: none; z-index: 373; }
#wb_element_instance60 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
#wb_element_instance61 { left: 880px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: none; z-index: 375; }
#wb_element_instance61 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
#wb_element_instance62 { left: 930px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: none; z-index: 376; }
#wb_element_instance62 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
#wb_element_instance63 { left: 900px; top: 20px; min-width: 90px; width: 90px; min-height: 24px; height: 24px; display: block; z-index: 509; }
#wb_element_instance64 { left: 10px; top: 20px; min-width: 234px; width: 234px; min-height: 24px; height: 24px; display: block; z-index: 449; }
#wb_element_instance65 { left: 480px; top: 100px; min-width: 450px; width: 450px; min-height: 240px; height: 240px; display: block; z-index: 92; }
#wb_element_instance65 form .form-field { width: 379px; }
#wb_element_instance65 form .form-area-field { height: 126px; }
#wb_element_instance65 form td { text-align: right; }
#wb_element_instance65 form tr.area-row > th { height: 1%; }
#wb_element_instance65 form tr.area-row > td { height: 1%; }
#wb_element_instance65 form tr.form-footer > td { height: 20px; }
#wb_element_instance66 { left: 20px; top: 50px; min-width: 370px; width: 370px; min-height: 38px; height: 38px; display: block; z-index: 93; }
#wb_element_instance67 { left: 0px; top: 370px; min-width: 990px; width: 990px; min-height: 270px; height: 270px; display: block; z-index: 95; }
#wb_element_instance68 { left: 480px; top: 50px; min-width: 430px; width: 430px; min-height: 36px; height: 36px; display: block; z-index: 96; }
#wb_element_instance69 { left: 0px; top: 660px; display: block; z-index: 9000; }
#wb_element_instance70 { left: 0px; top: 64px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 100px; }
	#wb_main { height: 690px; }
	#wb_footer { height: 60px; }
	body, .wb_sbg { min-width: 992px; min-height: 850px; }
	.root { width: 992px; height: 850px; overflow: visible; }
	#wb_element_instance57 { left: 210px; top: 50px; min-width: 550px; width: 550px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance58 { left: 10px; top: 5px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; overflow: hidden; }
	#wb_element_instance58 img { width: 50px; height: 50px; position: relative; left: 0px; top: -10px; max-width: inherit; }
	#wb_element_instance59 { left: 70px; top: 10px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance60 { left: 830px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance60 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance61 { left: 880px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance61 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance62 { left: 930px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance62 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance63 { left: 900px; top: 20px; min-width: 90px; width: 90px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance64 { left: 10px; top: 20px; min-width: 234px; width: 234px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance65 { left: 480px; top: 100px; min-width: 450px; width: 450px; min-height: 240px; height: 240px; display: block; }
	#wb_element_instance65 form .form-field { width: 379px; }
	#wb_element_instance65 form .form-area-field { height: 126px; }
	#wb_element_instance66 { left: 20px; top: 50px; min-width: 370px; width: 370px; min-height: 38px; height: 38px; display: block; }
	#wb_element_instance67 { left: 0px; top: 370px; min-width: 990px; width: 990px; min-height: 270px; height: 270px; display: block; }
	#wb_element_instance68 { left: 480px; top: 50px; min-width: 430px; width: 430px; min-height: 36px; height: 36px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 100px; }
	#wb_main { height: 690px; }
	#wb_footer { height: 60px; }
	body, .wb_sbg { min-width: 992px; min-height: 850px; }
	.root { width: 992px; height: 850px; overflow: visible; }
	#wb_element_instance57 { left: 210px; top: 50px; min-width: 550px; width: 550px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance58 { left: 10px; top: 5px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; overflow: hidden; }
	#wb_element_instance58 img { width: 50px; height: 50px; position: relative; left: 0px; top: -10px; max-width: inherit; }
	#wb_element_instance59 { left: 70px; top: 10px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance60 { left: 830px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance60 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance61 { left: 880px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance61 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance62 { left: 930px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance62 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance63 { left: 900px; top: 20px; min-width: 90px; width: 90px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance64 { left: 10px; top: 20px; min-width: 234px; width: 234px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance65 { left: 480px; top: 100px; min-width: 450px; width: 450px; min-height: 240px; height: 240px; display: block; }
	#wb_element_instance65 form .form-field { width: 379px; }
	#wb_element_instance65 form .form-area-field { height: 126px; }
	#wb_element_instance66 { left: 20px; top: 50px; min-width: 370px; width: 370px; min-height: 38px; height: 38px; display: block; }
	#wb_element_instance67 { left: 0px; top: 370px; min-width: 990px; width: 990px; min-height: 270px; height: 270px; display: block; }
	#wb_element_instance68 { left: 480px; top: 50px; min-width: 430px; width: 430px; min-height: 36px; height: 36px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 100px; }
	#wb_main { height: 690px; }
	#wb_footer { height: 60px; }
	body, .wb_sbg { min-width: 992px; min-height: 850px; }
	.root { width: 992px; height: 850px; overflow: visible; }
	#wb_element_instance57 { left: 210px; top: 50px; min-width: 550px; width: 550px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance58 { left: 10px; top: 5px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; overflow: hidden; }
	#wb_element_instance58 img { width: 50px; height: 50px; position: relative; left: 0px; top: -10px; max-width: inherit; }
	#wb_element_instance59 { left: 70px; top: 10px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance60 { left: 830px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance60 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance61 { left: 880px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance61 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance62 { left: 930px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance62 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance63 { left: 900px; top: 20px; min-width: 90px; width: 90px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance64 { left: 10px; top: 20px; min-width: 234px; width: 234px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance65 { left: 480px; top: 100px; min-width: 450px; width: 450px; min-height: 240px; height: 240px; display: block; }
	#wb_element_instance65 form .form-field { width: 379px; }
	#wb_element_instance65 form .form-area-field { height: 126px; }
	#wb_element_instance66 { left: 20px; top: 50px; min-width: 370px; width: 370px; min-height: 38px; height: 38px; display: block; }
	#wb_element_instance67 { left: 0px; top: 370px; min-width: 990px; width: 990px; min-height: 270px; height: 270px; display: block; }
	#wb_element_instance68 { left: 480px; top: 50px; min-width: 430px; width: 430px; min-height: 36px; height: 36px; display: block; }
}
