#wb_header { background: transparent none repeat scroll left top; height: 100px; }
#wb_header { height: 100px; }
#wb_main { background: transparent none repeat scroll left top; height: 1200px; padding: 0 0 50px 0; }
#wb_main { height: 1250px; }
#wb_footer { background: transparent none repeat scroll left top; height: 60px; }
#wb_footer { height: 60px; }
body { background: #ffffff url("../gallery_gen/464b4efe631f8c70a025ef4923f89ebc.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 992px; min-height: 4580px; }
.root { width: 992px; height: 4580px; overflow: visible; }
#wb_element_instance71 { left: 210px; top: 50px; min-width: 550px; width: 550px; min-height: 40px; height: 40px; display: block; z-index: 440; }
#wb_element_instance71 ul { background: transparent none repeat scroll right top; border: 1px none #000000; }
#wb_element_instance71, #wb_element_instance71 ul { text-align: center; }
#wb_element_instance71 ul ul { background: #000000 none repeat scroll right top; }
#wb_element_instance71 li { margin: 0px 0px 0px 0px; }
#wb_element_instance71 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 30px 10px 30px; font: normal normal 16px Tahoma,Geneva,sans-serif; text-decoration: none; color: #424242; line-height: 18px; background: transparent none no-repeat scroll center top; }
#wb_element_instance71 li:hover > a, #wb_element_instance71 li:focus > a { border: 0px none #000000; font: normal normal 16px Tahoma,Geneva,sans-serif; text-decoration: underline; color: #77d3c4; line-height: 18px; background: transparent none no-repeat scroll center top; }
#wb_element_instance71 li.active > a { border: 0px none #000000; font: normal normal 16px Tahoma,Geneva,sans-serif; text-decoration: none; color: #77d3c4; line-height: 18px; background: transparent none no-repeat scroll center center; }
#wb_element_instance72 { left: 10px; top: 5px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; z-index: 372; overflow: hidden; }
#wb_element_instance72 img { width: 50px; height: 50px; position: relative; left: 0px; top: -10px; max-width: inherit; }
#wb_element_instance73 { left: 70px; top: 10px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; z-index: 439; }
#wb_element_instance74 { left: 830px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: none; z-index: 373; }
#wb_element_instance74 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
#wb_element_instance75 { left: 880px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: none; z-index: 375; }
#wb_element_instance75 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
#wb_element_instance76 { left: 930px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: none; z-index: 376; }
#wb_element_instance76 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
#wb_element_instance77 { left: 900px; top: 20px; min-width: 90px; width: 90px; min-height: 24px; height: 24px; display: block; z-index: 509; }
#wb_element_instance78 { left: 10px; top: 20px; min-width: 234px; width: 234px; min-height: 24px; height: 24px; display: block; z-index: 449; }
#wb_element_instance79 { left: 30px; top: 40px; min-width: 920px; width: 920px; min-height: 1160px; height: 1160px; display: block; z-index: 179; }
#wb_element_instance79 .wb-store-item { max-width: 200px; }
#wb_element_instance79 .wb-store-thumb { width: 200px; height: 200px; border: 0px solid #eeeeee; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; }
#wb_element_instance79 .wb-store-image { width: 400px; height: 400px; border: 0px solid #eeeeee; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; }
#wb_element_instance79 .wb-store-thumb .wb-store-nothumb { margin-top: 76px; }
#wb_element_instance79 .wb-store-image .wb-store-nothumb { margin-top: 176px; }
#wb_element_instance79 .wb-store-name { font: normal bold 18px Tahoma,Geneva,sans-serif; color: #424242; text-decoration: none; text-align: center; }
#wb_element_instance79 .wb-store-sku { font: normal bold 18px Tahoma,Geneva,sans-serif; color: #424242; text-decoration: none; text-align: center; }
#wb_element_instance79 .wb-store-price { font: normal normal 16px Tahoma,Geneva,sans-serif; color: #424242; text-decoration: none; text-align: center; }
#wb_element_instance79 .wb-store-desc { font: 16px Tahoma,Geneva,sans-serif; color: #424242; }
#wb_element_instance79 .wb-store-label { font: 16px Tahoma,Geneva,sans-serif; color: #000000; }
#wb_element_instance79 .wb-store-properties { margin-left: 400px; }
#wb_element_instance79 .wb-store-properties .wb-store-name, #wb_element_instance79 .wb-store-properties .wb-store-sku, #wb_element_instance79 .wb-store-properties .wb-store-price { text-align: left; }
#wb_element_instance80 { left: 0px; top: 1220px; display: block; z-index: 9000; }
#wb_element_instance81 { left: 0px; top: 64px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 100px; }
	#wb_main { height: 1250px; }
	#wb_footer { height: 60px; }
	body, .wb_sbg { min-width: 992px; min-height: 1410px; }
	.root { width: 992px; height: 1410px; overflow: visible; }
	#wb_element_instance71 { left: 210px; top: 50px; min-width: 550px; width: 550px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance72 { left: 10px; top: 5px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; overflow: hidden; }
	#wb_element_instance72 img { width: 50px; height: 50px; position: relative; left: 0px; top: -10px; max-width: inherit; }
	#wb_element_instance73 { left: 70px; top: 10px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance74 { left: 830px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance74 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance75 { left: 880px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance75 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance76 { left: 930px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance76 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance77 { left: 900px; top: 20px; min-width: 90px; width: 90px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance78 { left: 10px; top: 20px; min-width: 234px; width: 234px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance79 { left: 30px; top: 40px; min-width: 920px; width: 920px; min-height: 1160px; height: 1160px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 100px; }
	#wb_main { height: 1250px; }
	#wb_footer { height: 60px; }
	body, .wb_sbg { min-width: 992px; min-height: 1410px; }
	.root { width: 992px; height: 1410px; overflow: visible; }
	#wb_element_instance71 { left: 210px; top: 50px; min-width: 550px; width: 550px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance72 { left: 10px; top: 5px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; overflow: hidden; }
	#wb_element_instance72 img { width: 50px; height: 50px; position: relative; left: 0px; top: -10px; max-width: inherit; }
	#wb_element_instance73 { left: 70px; top: 10px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance74 { left: 830px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance74 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance75 { left: 880px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance75 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance76 { left: 930px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance76 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance77 { left: 900px; top: 20px; min-width: 90px; width: 90px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance78 { left: 10px; top: 20px; min-width: 234px; width: 234px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance79 { left: 30px; top: 40px; min-width: 920px; width: 920px; min-height: 1160px; height: 1160px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 100px; }
	#wb_main { height: 1250px; }
	#wb_footer { height: 60px; }
	body, .wb_sbg { min-width: 992px; min-height: 1410px; }
	.root { width: 992px; height: 1410px; overflow: visible; }
	#wb_element_instance71 { left: 210px; top: 50px; min-width: 550px; width: 550px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance72 { left: 10px; top: 5px; min-width: 50px; width: 50px; min-height: 30px; height: 30px; display: block; overflow: hidden; }
	#wb_element_instance72 img { width: 50px; height: 50px; position: relative; left: 0px; top: -10px; max-width: inherit; }
	#wb_element_instance73 { left: 70px; top: 10px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance74 { left: 830px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance74 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance75 { left: 880px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance75 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance76 { left: 930px; top: 3px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance76 img { width: 32px; height: 32px; position: static; left: 0px; top: 0px; }
	#wb_element_instance77 { left: 900px; top: 20px; min-width: 90px; width: 90px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance78 { left: 10px; top: 20px; min-width: 234px; width: 234px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance79 { left: 30px; top: 40px; min-width: 920px; width: 920px; min-height: 1160px; height: 1160px; display: block; }
}
